name: Run Python script

on:
  schedule:
    - cron: '50 2 * * 1-5'
  workflow_dispatch: # 수동 트리거

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Configure Git
        run: |
          git config --global user.name 'ko-hoon'
          git config --global user.email 'seunghoon_jeon@kolon.com'

      - name: Run Python script
        env:
          KOREA_BANK_API_KEY: ${{ secrets.KOREA_BANK_API_KEY }}
          LME_PRICE_URL: ${{ secrets.LME_PRICE_URL }}
          OPINET_API_KEY: ${{ secrets.OPINET_API_KEY }}
          PUBLIC_DATA_CENTER_API_KEY: ${{ secrets.PUBLIC_DATA_CENTER_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python main.py

      - name: Check for changes
        id: git-status
        run: |
          git add .
          echo "::set-output name=changes::$(git status --porcelain)"

      - name: Trigger Flutter Build and Deploy
        if: always()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/${{ github.repository }}/actions/workflows/workflow.yml/dispatches \
            -d '{"ref":"main"}'
